#body{
    background-color: black;
}

h1{
    text-align: center;
    background-color: #00ff00 ;
}

div{
    margin: auto;
    width: 10%;
    border: 3px solid green;
    padding: 10px;

}